#content_list {

    min-width: 690px;

    margin-bottom: 0 !important;


    .td-actions {
        width: 153px;
    }

    .td-size {
        width: 100px;
    }
    .td-url {
        width: 390px;
    }

    .td-modified {
        width: 160px;
    }

    .td-type, .td-check {
        width: 45px;
    }

}